.input-group {
  display: flex;
  justify-content: center;
  float: right;
}

.statistics-report {
    background-color: #6b7074;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    align-content: center;
    font-size: xx-large;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

button {
    border: 1px solid white;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.header {
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 2rem;
  background-image: url("/assets/images/header-basketball.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #cccccc;
  background-size: cover;
  height: 130px;
  border-radius: 0.3rem;
}

@media (min-width: 576px) {
  .Header {
  padding: 4rem 2rem;
  }
}

.nav {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: left;
}
.nav
.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
}

.menu-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
  border-style: double;
}

.menu-text {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  color: #2172a8;
  font-size: 50px;
  justify-content: center;
}

body {
  background-color: #333638;
}

.basketball {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-style: italic; 
  color: rgb(221, 221, 221);
  font-size: x-large;
  margin-left: 15px;
}

.form-errors {
  color: #cc0000;
  display: inline-block;
  font-size: 16px;
  line-height: 15px;
  margin: 5px 0 0;
}